@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: flaticon;
  src: url(/public/fonts/Flaticon.woff);
}

@font-face {
  font-family: flaticonSecond;
  src: url(/public/fonts/fontawesome-webfont.woff);
}

@font-face {
  font-family: flaticonThird;
  src: url(/public/fonts/fontawesome-webfont.woff2);
}

@font-face {
  font-family: greatVibes;
  src: url(/public/fonts/GreatVibes-Regular.ttf);
}

.bg-red-malom {
  background-color: #D12C12;
}

.text-red-malom {
  color: #D12C12;
}

.section__title {
  font-size: 40px;
  font-family: 'Great Vibes', cursive;
  color: #D12C12;
  font-weight: 400;
  padding: 0;
}

.font-great-vibes {
  font-family: 'Great Vibes', cursive;
}